
#login {
  margin: 5px;
  text-align: right;
}

#main {
  text-align: center;
}

#message { 
  width:80%;
  padding: 5px;
  margin: 10px;
  border: 1px dashed;
  color: green;
  text-align: left;
}

#food-graphic {
  background: url('food.jpg') no-repeat fixed center;
  background-size: cover;
  width: 100%;
  height: 500px;
} 

#tagline {
  font-weight: bold;
}

#sign-in-button{
  font-weight: bold; //TODO this should be a FB image
}

.clickable:hover{
  color:red;
  cursor:pointer;
}


